{% extends "partials/_base.html" %}
{% load static i18n %}
{% block title %} Home {% endblock title %}
{% block stylesheets %} 
<style>
    .text-justify{
        text-align: justify;
    }
</style>

{% endblock stylesheets %}
{% block body %}
<section class="bg-primary bg-opacity-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <!-- Title -->
                <h1 class="display-6">Terms of Use</h1>
            </div>
        </div> <!-- Row END -->
    </div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page Content START -->
<section>
<div class="container" data-sticky-container>

    <div class="row g-4">
        <!-- Left side START -->
        <div class="col-md-3">
            <div style="position: sticky;top: 80px">
                <div id="nav-scroll" class="navbar">
                    <nav class="nav nav-pills nav-pill-soft flex-column">
                        <a class="nav-link" href="#legal"><i class="bi bi-bookmark-dash fa-fw me-2"></i>Legal</a>
                        <a class="nav-link" href="#external-links"><i class="bi bi-link fa-fw me-2"></i>Links to other Websites</a>
                        <a class="nav-link" href="#content"><i class="bi bi-pen fa-fw me-2"></i>Content and Material</a>
                        <a class="nav-link" href="#termination"><i class="bi bi-exclamation-circle fa-fw me-2"></i>Termination</a>
                        <a class="nav-link" href="#item-5"><i class="bi bi-house fa-fw me-2"></i>Governing Law</a>
                        <a class="nav-link" href="#modifications"><i class="bi bi-hourglass fa-fw me-2"></i>Modifications</a>
                        <a class="nav-link" href="#changes"><i class="bi bi-pencil fa-fw me-2"></i>Changes</a>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Left side END -->

        <!-- Right side START -->
        <div class="col-md-9">
            <!-- Get Started content START -->
            <div id="legal">
                <div class="card">
                    <!-- Article title -->
                    <div class="card-header border-bottom py-0 px-0">
                        <h2>Legal</h2>
                        <!-- Update and author -->
                        <ul class="nav nav-divider mb-3">
                            <li class="nav-item">Last updated: 25th May, 2022</li>
                            <li class="nav-item">by Matanmi Oluwaseun</li>
                        </ul>
                    </div>
                    <!-- Article Info -->
                    <div class="card-body px-0 pb-0 text-justify">
                        <p>
                            Thanks for using our products and services ("Services"). The Services are provided by Soft Skill Space, located at Manchester, United Kingdom. <br/> <br/> By using our Services, you are agreeing to these terms. Please read them carefully.
                        </p>
                        <h5 class="mt-4">Accounts</h5>
                        <p>
                            By accessing the website at <a href="https://www.softskillspace.com">Soft Skill Space</a>, you are agreeing to be bound by these terms and conditions, all applicable laws and regulations, agree that you are responsible for maintaining the security of your account and fully responsible for all activities that occur under the account and any other actions taken in connection with the account If you do not agree with any of these terms, you are prohibited from using or accessing this site.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Get Started content END -->

            <!-- Divider -->
            <div class="text-center h5 my-5">. . .</div>

            <!-- Account setup content START -->
            <div id="external-links">
                <div class="card mt-5">
                    <!-- Article title -->
                    <div class="card-header border-bottom py-0 px-0">
                        <h2>Link to Other Websites</h2>
                    </div>

                    <!-- Article Info -->
                    <div class="card-body px-0 text-justify">
                        <p>
                            Our Service may contain links to third-party web sites or services that are not owned or controlled by Soft Skill Space. <br/><br/>
                            Soft Skill Space has no control over and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Soft Skill Space shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services. 
                            <br/> <br/>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
                        </p>

                    </div>
                </div>
            </div>
            <!-- Account setup content END -->

            <!-- Divider -->
            <div class="text-center h5 my-5">. . .</div>

            <div id="content">
                <div class="card mt-5">
                    <!-- Article title -->
                    <div class="card-header border-bottom py-0 px-0">
                        <h2>Content and Materials</h2>
                    </div>

                    <!-- Article Info -->
                    <div class="card-body px-0 text-justify">
                        <p>
                            The materials appearing on Our website could include technical, typographical, or photographic errors. <a href="Soft Skill Space.com">Soft Skill Space</a> does not warrant that any of the materials on its website are accurate, complete or current. Soft Skill Space may make changes to the materials contained on its website at any time without notice. 
                        </p>

                    </div>
                </div>
            </div>
            <div class="text-center h5 my-5">. . .</div>

            <div id="termination">
                <div class="card mt-5">
                    <!-- Article title -->
                    <div class="card-header border-bottom py-0 px-0">
                        <h2>Termination</h2>
                    </div>

                    <!-- Article Info -->
                    <div class="card-body px-0 text-justify">
                        <p>
                            We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. <br/> <br />
                            All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.<br/><br/>
                            We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.<br/><br/>
                            Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.<br/><br/>
                            All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                        </p>

                    </div>
                </div>
            </div>
            <div class="text-center h5 my-5">. . .</div>

            <div id="item-5">
                <div class="card mt-5">
                    <!-- Article title -->
                    <div class="card-header border-bottom py-0 px-0">
                        <h2>Governing Law</h2>
                    </div>

                    <!-- Article Info -->
                    <div class="card-body px-0 text-justify">
                        <p>
                            These Terms shall be governed and construed in accordance with the constitution of Federal Republic of Nigeria, without regard to its conflict of law provisions.<br/><br/>
                            Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service
                        </p>

                    </div>
                </div>
            </div>

            <div class="text-center h5 my-5">. . .</div>

            <div id="modifications">
                <div class="card mt-5">
                    <!-- Article title -->
                    <div class="card-header border-bottom py-0 px-0">
                        <h2>Modifications</h2>
                    </div>

                    <!-- Article Info -->
                    <div class="card-body px-0 text-justify">
                        <p>
                            <a href="Soft Skill Space.com">Soft Skill Space</a>, the graphics and logos used in connection with the Website, Products, and Services, are registered trademarks of Soft Skill Space Products, and Services. Your use of the Website grants you no right or license to reproduce or otherwise use any Soft Skill Space property.
                        </p>

                    </div>
                </div>
            </div>

            <div class="text-center h5 my-5">. . .</div>

            <div id="changes">
                <div class="card mt-5">
                    <!-- Article title -->
                    <div class="card-header border-bottom py-0 px-0">
                        <h2>Changes</h2>
                    </div>

                    <!-- Article Info -->
                    <div class="card-body px-0 text-justify">
                        <p>
                            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<br/> <br/> 
                            By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
                        </p>

                    </div>
                </div>
            </div>

        </div>
        <!-- Right side END -->
    </div>
</div>
</section>
{% endblock body %}
{% block scripts %} 
<script src="{% static 'vendor/sticky-js/sticky.min.js' %}"></script>
{% endblock scripts %}
