{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% spaceless %}
<!doctype html>
<html lang="{{LANGUAGE_CODE}}">

<head>

  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  {% if GOOGLE_ANALYTICS_ID %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS_ID}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{GOOGLE_ANALYTICS_ID}}');
  </script>
  {% endif %}
  {% if blog %}

  {% include "partials/seo/_blog.html" %}

  {% elif tutor %}

  {% include "partials/seo/_tutor.html" %}

  {% else %}
  <meta name="keywords" content="Educational platform for e-learning, knowledge and skill acquisition" />
  <meta name="author" content="Soft Skill Space" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{request.scheme}}://{{request.get_host}}">
  <meta name="description" content="LMS, Educational platform for e-learning, knowledge and skill acquisition, teach students and earn while you learn" />
  {% endif %}

  {% include "partials/_stylesheet.html" %}

  {% block stylesheets %} {% endblock stylesheets %}

  <!-- Title -->
  <title>{% block title %} {% endblock title %} - Soft Skill Space</title>
</head>

<body>
  <div class="preloader">
    <div class="preloader-item">
      <div class="spinner-grow text-primary"></div>
    </div>
  </div>
  {% include "partials/_navbar.html" %}
  
  <!-- **************** MAIN CONTENT START **************** -->
  <main>
    <div class="container">
      {% include 'partials/_messages.html' %}
    </div>

    {% block body %} {% endblock body %}
    
    {% include 'partials/_pagination.html' %}

    {% block extra_body %} {% endblock extra_body %}

  </main>
  <!-- **************** MAIN CONTENT END **************** -->

  {% include 'partials/_footer.html' %}

  {% include 'partials/_script.html' %}

  {% block scripts %} {% endblock scripts %}
</body>

</html>
{% endspaceless %}
