{% load static i18n %}
<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

  <!-- Plugins CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'vendor/tiny-slider/tiny-slider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/glightbox/css/glightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/choices/css/choices.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/overlay-scrollbar/css/OverlayScrollbars.min.css' %}">


<!-- Theme CSS -->
<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">


<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#4eb8ea">
<meta name="theme-color" content="#ffffff">
