{% extends "partials/_base.html" %}
{% load static i18n humanize %}
{% block title %} Tutor search {% endblock title %}

{% block body %}
<!-- =======================
Page Banner START -->
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-dark p-4 text-center rounded-3">
					<h1 class="text-white m-0">Tutors list</h1>
					<!-- Breadcrumb -->
					<div class="d-flex justify-content-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Tutor list</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Inner part START -->
<section class="pt-4">
	<div class="container">
		<!-- Search option START -->
		<form class="row mb-4 align-items-center">
			<!-- Search bar -->
			<div class="col-sm-8 col-md-6 col-xl-7 col-xl-4 mt-3 mt-xl-0">
				<div class="border rounded p-2">
					<div class="input-group input-borderless">
						<input class="form-control me-1" type="search" placeholder="Search subject taught"
            minlength="2" maxlength="50" value="{{keyword|default:''}}" name="keyword">
					</div>
				</div>
			</div>

			<!-- Select option -->
			<div class="col-md-3 col-sm-4 col-xl-3 mt-3 mt-xl-0">
				<div class="border rounded p-2 input-borderless">
          {% with sortby=request.GET.sortby %}
					<select class="form-select form-select-sm js-choice" aria-label=".form-select-sm" name="sortby">
						<option value="">Sort by</option>
						<option {% if sortby == 'rate-per-hour' %} selected {% endif %} value="rate-per-hour">Rate per hour</option>
						<option {% if sortby == 'hours-taught' %} selected {% endif %} value="hours-taught">Hours taught</option>
						<option {% if sortby == 'ratings' %} selected {% endif %} value="ratings">Ratings</option>
					</select>
          {% endwith %}
				</div>
			</div>

			<!-- Button -->
			<div class="col-sm-6 col-md-3 col-xl-2 mt-3 mt-xl-0 d-grid">
				<button type="submit" class="btn btn-lg btn-primary mb-0">Filter Results</button>
			</div>
		</form>
		<!-- Search option END -->

		<!-- Tutor list START -->
		<div class="row g-4 justify-content-center">

      {% for tutor in tutors %}
			<!-- Card item START -->
			<div class="col-lg-10 col-xl-6">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<a href="{% url 'tutor:profile' tutor.user.username %}">
                <img src="{{tutor.user.image_url}}" class="rounded-3" alt="{{tutor}} image"></a>
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="{% url 'tutor:profile' tutor.user.username %}">{{tutor}}</a></h5>
										<p class="small mb-2 mb-sm-0">{{tutor.bio|default:''|truncatechars:60}}</p>
									</div>
									<span class="h6 fw-light">{{tutor.average_review|default:'0'}}<i class="fas fa-star text-warning ms-1"></i></span>
								</div>
								<!-- Content -->
								<p class="text-truncate-4 mb-3">{{tutor.user.about|default:''|linebreaksbr|truncatechars:300}}</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Title -->
									<h6 class="text-orange mb-0">₦{{tutor.rate_per_hour|intcomma}} / hr</h6>

									<!-- Social button -->
									<ul class="list-inline mb-0 mt-3 mt-sm-0">
                    <li class="list-inline-item">{{tutor.hours_taught|floatformat:1|default:0}} hours taught</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
      <!-- Card item END -->
      {% empty %}
      <div class="row">
        <div class="col-12 text-center">
          <!-- Image -->
          <img src="{% static 'images/element/online.svg' %}" class="h-200px h-md-200px m-5" alt="">
          <!-- Subtitle -->
          <h2>No tutors found</h2>
          <!-- info -->
          <p class="mb-0">Please modify your search filter and try again.</p>
          <!-- Button -->
        </div>
      </div>
      {% endfor %}

		</div>
		<!-- Tutor list END -->
	</div>
</section>
<!-- =======================
Inner part END -->
{% endblock body %}

{% block extra_body %}

<!-- =======================
Action box START -->
<section class="pt-3">
	<div class="container position-relative">
		<!-- SVG -->
		<figure class="position-absolute top-50 start-50 translate-middle ms-2">
			<svg>
				<path d="m496 22.999c0 10.493-8.506 18.999-18.999 18.999s-19-8.506-19-18.999 8.507-18.999 19-18.999 18.999 8.506 18.999 18.999z" fill="#fff" fill-rule="evenodd" opacity=".502"/>
				<path d="m775 102.5c0 5.799-4.701 10.5-10.5 10.5-5.798 0-10.499-4.701-10.499-10.5 0-5.798 4.701-10.499 10.499-10.499 5.799 0 10.5 4.701 10.5 10.499z" fill="#fff" fill-rule="evenodd" opacity=".102"/>
				<path d="m192 102c0 6.626-5.373 11.999-12 11.999s-11.999-5.373-11.999-11.999c0-6.628 5.372-12 11.999-12s12 5.372 12 12z" fill="#fff" fill-rule="evenodd" opacity=".2"/>
				<path d="m20.499 10.25c0 5.66-4.589 10.249-10.25 10.249-5.66 0-10.249-4.589-10.249-10.249-0-5.661 4.589-10.25 10.249-10.25 5.661-0 10.25 4.589 10.25 10.25z" fill="#fff" fill-rule="evenodd" opacity=".2"/>
			</svg>
		</figure>

		<div class="bg-success p-4 p-sm-5 rounded-3">
			<div class="row justify-content-center position-relative">
				<!-- Svg -->
				<figure class="fill-white opacity-1 position-absolute top-50 start-0 translate-middle-y">
					<svg width="141px" height="141px">
						<path d="M140.520,70.258 C140.520,109.064 109.062,140.519 70.258,140.519 C31.454,140.519 -0.004,109.064 -0.004,70.258 C-0.004,31.455 31.454,-0.003 70.258,-0.003 C109.062,-0.003 140.520,31.455 140.520,70.258 Z"/>
					</svg>
				</figure>
				<!-- Action box -->
				<div class="col-11 position-relative">
					<div class="row align-items-center">
						<!-- Title -->
						<div class="col-lg-7">
							<h3 class="text-white">Become a Tutor!</h3>
							<p class="text-white mb-3 mb-lg-0">Interested in making a difference while still earning and utilising your knowledge and experience, why not join our team of trusted professionals and academicians</p>
						</div>
						<!-- Button -->
						<div class="col-lg-5 text-lg-end">
							<a href="{% url 'home:become-a-tutor' %}" class="btn btn-dark mb-0">Start Teaching today</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Action box END -->
{% endblock extra_body %}
